<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.multicafe.dao.LikesMapper">

	<resultMap type="Menu" id="menu_resultMap">
		<result column="menu_id" property="menuId"/>
		<result column="category_id" property="categoryId"/>
		<result column="cafe_id" property="cafeId"/>
	</resultMap>
	
	<resultMap type="Likes" id="likes_resultMap">
		<result column="like_id" property="likeId"/>
		<result column="user_id" property="userId"/>
		<result column="menu_id" property="menuId"/>
	</resultMap>
	
	<!-- ListView -->
	<select id="listViewLike" parameterType="int" resultMap="menu_resultMap">
		select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.sweet, m.bitter, m.sour 
		from likes l, menu m 
		where l.menu_id=m.menu_id and l.user_id=#{userId}
	</select>
	
	<select id="getLike" resultMap="likes_resultMap">
		select like_id, user_id, menu_id from likes where user_id=#{userId} and menu_id=#{menuId}
	</select>
	
	<!-- Insert -->
	<insert id="insertLike" parameterType="Likes">
		<selectKey keyProperty="likeId" resultType="Integer" order="BEFORE">
			select likes_seq.nextval from dual
		</selectKey>
		insert into likes values(#{likeId}, #{userId},#{menuId})
	</insert>
	
	<!-- Delete -->	
	<delete id="deleteLike" parameterType="java.lang.Integer" >
		delete from likes where like_id = #{likeId}
	</delete>


</mapper>