<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.multicafe.dao.MenuMapper">
	<resultMap type="Menu" id="menu_resultMap">
		<result column="menu_id" property="menuId"/>
		<result column="category_id" property="categoryId"/>
		<result column="cafe_id" property="cafeId"/>
	</resultMap>
	
	<insert id="insertMenu" parameterType="Menu">
		insert into menu(menu_id, name, price, description, keyword, image, hot, ice, category_id, cafe_id)
		values (menu_seq.nextval, #{name}, #{price}, #{description}, #{keyword}, #{image}, #{hot}, #{ice}, #{categoryId}, #{cafeId})
	</insert>
	
	<update id="updateMenu" parameterType="Menu">
		update menu set name=#{name}, price=#{price}, description=#{description}, keyword=#{keyword}, image=#{image}
		where menu_id=#{menuId}
	</update>
	
	<delete id="deleteMenu" parameterType="int">
		delete from menu where menu_id=#{menuId}
	</delete>
	
	<select id="getMenu" parameterType="int" resultMap="menu_resultMap">
		select menu_id, name, price, description, grade, keyword, image, good, click, hot, ice, category_id, cafe_id, sweet, bitter, sour
		from menu
		where menu_id=#{menuId}
	</select>
	
	<select id="listViewMenu" resultMap="menu_resultMap">
		select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
		from menu m, cafe c
		where m.cafe_id = c.cafe_id
	</select>
	
	<select id="listViewMenuByCondition" parameterType="java.lang.String" resultMap="menu_resultMap">
		select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
		from menu m, cafe c
		where m.cafe_id = c.cafe_id
		order by ${condition} desc
	</select>
	
	<select id="listViewCafeMenuByCondition" resultMap="menu_resultMap">
		select menu_id, name, price, description, grade, keyword, image, good, click, hot, ice, category_id, cafe_id, sweet, bitter, sour, cafeName
		from (select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
				from menu m, cafe c
				where m.cafe_id = c.cafe_id and m.cafe_id=#{cafeId})
		order by ${condition} desc
	</select>
	
	<select id="listViewCategoryMenuByCondition" resultMap="menu_resultMap">
		select menu_id, name, price, description, grade, keyword, image, good, click, hot, ice, category_id, cafe_id, sweet, bitter, sour, cafeName
		from (select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
				from menu m, cafe c
				where m.cafe_id = c.cafe_id and m.category_id=#{categoryId})
		order by ${condition} desc
	</select>
	
	<select id="listViewCafeMenu" resultMap="menu_resultMap">
		select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
		from menu m, cafe c
		where m.cafe_id = c.cafe_id and m.cafe_id=#{cafeId}
	</select>
	
	<select id="listViewCategoryMenu" resultMap="menu_resultMap">
		select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
		from menu m, cafe c
		where m.cafe_id = c.cafe_id and m.category_id=#{categoryId}
	</select>
	
	<select id="listViewCafeMenuByCategory" resultMap="menu_resultMap">
		select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
		from menu m, cafe c
		where m.cafe_id = c.cafe_id and m.cafe_id=#{cafeId} and m.category_id=#{categoryId}
	</select>
	
	<select id="listViewCafeCategoryMenuByCondition" resultMap="menu_resultMap">
		select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
		from menu m, cafe c
		where m.cafe_id = c.cafe_id and m.cafe_id=#{cafeId} and m.category_id=#{categoryId}
		order by ${condition} desc
	</select>
	
	<select id="searchMenu" resultMap="menu_resultMap">
		select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
		from menu m, cafe c
		where m.cafe_id = c.cafe_id and m.name like '%'||#{keyword}||'%' or m.description like '%'||#{keyword}||'%' or m.keyword like '%'||#{keyword}||'%'
	</select>
	
	<select id="searchCafeMenu" resultMap="menu_resultMap">
		select menu_id, name, price, description, grade, keyword, image, good, click, hot, ice, category_id, cafe_id, sweet, bitter, sour, cafeName
		from (select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
				from menu m, cafe c
				where m.cafe_id = c.cafe_id and m.cafe_id=#{cafeId})
		where name like '%'||#{keyword}||'%' or description like '%'||#{keyword}||'%' or keyword like '%'||#{keyword}||'%'
	</select>
	
	<update id="addGood" parameterType="int">
		update menu set good=good+1 where menu_id=#{menuId}
	</update>
	
	<update id="minusGood" parameterType="int">
		update menu set good=good-1 where menu_id=#{menuId}
	</update>
	
	<update id="updateMenuTaste" parameterType="int">
		update menu set (sweet, bitter, sour)=(select avg(sweet), avg(bitter), avg(sour) from review where menu_id=#{menuId}) where menu_id=#{menuId}
	</update>
	
	<update id="updateMenuGrade" parameterType="int">
		update menu set grade=(select avg(grade) from review where menu_id=#{menuId}) where menu_id=#{menuId}
	</update>
	
	<select id="getMenuTaste" resultType="Taste">
		select sweet, bitter, sour from menu where menu_id=#{menuId}
	</select>
	
	<select id="listViewRecommendMenuByKeyword" resultMap="menu_resultMap">
		select menu_id, name, price, description, grade, keyword, image, good, click, hot, ice, category_id, cafe_id, sweet, bitter, sour, cafeName
		from (select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
				from menu m join cafe c on m.cafe_id = c.cafe_id
				where m.menu_id!=#{menuId})
		where  
		<foreach collection="list" item="item" separator=" or ">
			keyword like '%'||#{item}||'%'
		</foreach>
	</select>
	
	<select id="listViewRecommendMenuByTaste" resultMap="menu_resultMap">
		select menu_id, name, price, description, grade, keyword, image, good, click, hot, ice, category_id, cafe_id, sweet, bitter, sour, cafeName
		from (select a.*, rownum rn
				from (
					select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.good, m.click, m.hot, m.ice, m.category_id, m.cafe_id, m.sweet, m.bitter, m.sour, c.name as cafeName
					from menu m, cafe c
					where m.cafe_id = c.cafe_id and m.menu_id!=#{menuId}
					order by
					<foreach collection="list" item="item" separator=", ">
						abs(#{max}-${item})
					</foreach>
					) a
				) b
		where 20 >= rn
	</select>
</mapper>
