<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.multicafe.dao.RecentMapper">
	<resultMap type="Menu" id="menu_resultMap">
		<result column="menu_id" property="menuId"/>
		<result column="category_id" property="categoryId"/>
		<result column="cafe_id" property="cafeId"/>
	</resultMap>
	<resultMap type="Recent" id="recent_resultMap">
		<result column="recent_id" property="recentId"/>
		<result column="user_id" property="userId"/>
		<result column="menu_id" property="menuId"/>
		<result column="recent_date" property="recentDate"/>
	</resultMap>
	
	<!-- ListView -->
	<select id="listViewRecent" parameterType="String" resultMap="menu_resultMap">
		select m.menu_id, m.name, m.price, m.description, m.grade, m.keyword, m.image, m.sweet, m.bitter, m.sour 
		from recent r, menu m 
		where r.user_id=#{userId} and r.menu_id=m.menu_id		
		order by r.recent_date desc
	</select>
	
	<!-- Insert -->
	<insert id="insertRecent" parameterType="Recent">
		insert into recent(recent_id, menu_id, user_id)
		values (recent_seq.nextval, #{menuId}, #{userId})
	</insert>
	
	<!-- Delete -->
	<delete id="deleteRecent" parameterType="Integer">
		delete from recent where recent_id=#{recentId}
	</delete>
	
	<!-- Get -->
	<select id="getRecent" resultMap="recent_resultMap">
		select recent_id, user_id, menu_id, recent_date
		from recent
		where user_id=#{userId} and menu_id=#{menuId}
	</select>
	
	<select id="countMyRecent" parameterType="String" resultType="Integer">
		select count(*) from recent where user_id=#{userId}
	</select>
	
	<select id="getRecentPast" parameterType="String" resultMap="recent_resultMap">
		select recent_id, user_id, menu_id, recent_date from recent 
		where user_id=#{userId} and recent_date=(select min(recent_date) from recent)
	</select>
	
</mapper>