<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.multicafe.dao.ReviewMapper">
	<resultMap type="Review" id="review_resultMap">
		<result column="review_id" property="reviewId"/>
		<result column="review_date" property="reviewDate"/>
		<result column="user_id" property="userId"/>
		<result column="menu_id" property="menuId"/>
	</resultMap>
	
	
	<!-- Insert -->
	<insert id="insertReview" parameterType="Review">
		<selectKey keyProperty="reviewId" resultType="Integer" order="BEFORE">
			select review_seq.nextval from dual
		</selectKey>
	
		insert into review values(#{reviewId}, sysdate, #{content}, #{good}, #{grade}, #{userId}, #{menuId}, #{sweet}, #{bitter}, #{sour})
	</insert>
	
	<!-- Update -->
	<update id="updateReview" parameterType="Review">
		update review set content=#{content}, grade=#{grade}, sweet=#{sweet}, bitter=#{bitter}, sour=#{sour} where user_id=#{userId}
	</update>
	
	
	<!-- Delete -->	
	<delete id="deleteReview" parameterType="java.lang.String" >
		delete from review where user_id = #{userId}
	</delete>
	
	
	<!-- ListView -->
	<select id="listViewReview" parameterType="java.lang.Integer" resultMap="review_resultMap">
		select review_date, content, good, grade, user_id, menu_id, sweet, bitter, sour 
		from review
		where menu_id=#{menu_id}
	</select>
	
	<!-- ListMyReview -->
	<select id="listViewReview" parameterType="java.lang.String" resultMap="review_resultMap">
		select review_date, content, good, grade, user_id, menu_id, sweet, bitter, sour 
		from review
		where user_id=#{user_id}
	</select>

	<!-- Get -->
	<select id="getReview" parameterType="java.lang.Integer" resultMap="review_resultMap">
		select review_date, content, good, grade, user_id, menu_id, sweet, bitter, sour from cafe where review_id = #{reviewId}
	</select>
	
	<!-- GoodListReview -->
	<select id="goodListReview" parameterType="java.lang.Integer" resultMap="review_resultMap">
		select review_date, content, good, grade, user_id, menu_id, sweet, bitter, sour 
		from review
		where menu_id=#{menu_id}
		order by good
	</select>
	
	<!-- addGood -->
	<update id="addGood" parameterType="java.lang.Integer">
		update review 
		set good=good+1 
		where menu_id=#{menuId} and user_id=#{userId}
	</update>
	
	<!-- deleteGood -->
	<update id="addGood" parameterType="java.lang.Integer">
		update review 
		set good=case when good>0 then good-1 
				else 0
				end
		where menu_id=#{menuId} and user_id=#{userId}
	</update>
	
</mapper>