<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.multicafe.dao.UsersMapper">
	<resultMap type="Users" id="users_resultMap">
		<result column="user_id" property="userId"/>
		<result column="join_date" property="joinDate"/>
	</resultMap>
	
	<!-- Insert -->
	<insert id="insertUser" parameterType="Users" >
		insert into users(user_id,pwd,phone,email,address,sweet,bitter,sour) values(#{userId},#{pwd},#{phone},#{email},#{address},#{joinDate},#{sweet},#{bitter},#{sour})
	</insert>
	
	<!-- Update -->
	<update id="updateUser" parameterType="Users">
		update users set pwd=#{pwd}, phone=#{phone}, email=#{email}, address=#{address}, taste_id=#{tasteId}, join_date={joinDate} where user_id=#{userId}
	</update>
	
	<!-- Delete -->	
	<delete id="deleteUser" parameterType="java.lang.String" >
		delete from users where user_id = #{userId}
	</delete>
	
	<select id="login" resultMap="users_resultMap">
		select user_id, pwd, phone, email, address, join_date, sweet, bitter, sour
		from users
		where user_id=#{userId} and pwd=#{pwd}
	</select>
	
	<select id="checkIdForRegister" resultMap="users_resultMap">
		select user_id, pwd, phone, email, address, join_date, sweet, bitter, sour
		from users
		where user_id=#{userId}
	</select>
</mapper>