.starR{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 30px;
    height: 20px;
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;
  }